{
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "noTrailingSpaces": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 160,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-organize-imports"
  ]
}